p,a{
    color: aquamarine;
}

li{
    list-style-type: square;
}
/* li.special,span.special{ */
    /* color: orange; */
    /* font-weight: bold; */
 /* } */ 
li em{
    color: rebeccapurple;
}
h1+p{
    font-size: 30;
}
a:hover{
    color: blue;
    text-decoration: aqua;

}
body h2+p .special{
color:black;
background-color: rgb(172, 44, 44);
padding: 5px;
}